<!DOCTYPE html>
<style>
    .logo {
        position: absolute;
        top: 30px;
        left: 15px;
    }

    .feed_button {
        position: absolute;
        top: 80px;
        left: 100px;
    }

    .create_post_button {
        position: absolute;
        top: 80px;
        right: 100px;
    }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title></title>
</head>
<body class="text-center" style="background-color:white">
    <div class="container-fluid p-5 my-3 border">
        <img class="logo" src="{{ url_for('static', filename="../images/big_r.jpg") }}" alt="" width="72" height="72">
        <a href="/{{ user_hash }}/profile" class="btn btn-primary float-end">Profile</a>
        <a class="btn"><i class="bi bi-arrow-90deg-right"></i></a>
    </div>

    {% for post in posts %}
    <div class="container pb-3">
        <div class="card shadow">
            <div class="card-body">
                <a href="/{{ user_hash }}/vote/{{ post.post_id }}/up">Upvote</a>
                <a href="/{{ user_hash }}/vote/{{ post.post_id }}/down">Downvote</a>
                <div class="row align-items-start">
                    <div class="col">{{ post.post_creator.handle }}</div>
                    <div class="col"><a href="/posts/{{ post.post_id }}">{{ post.post_title }}</a></div>
                    <div class="col">Votes:{{ post.post_votes }}</div>
                </div>
                <div class="row align-items-start">
                    <div class="col">{{ post.post_content }}</div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col">{{ post.time_passed }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</body>
</html>